{% extends "layouts/page-nl.html.njk" %}
{% block meta %}
  <title>Klachten</title>
  <meta name="description" content="Een klacht? Bespreek uw onvrede met uw huisarts.">
{% endblock %}
{% block id %}klachten{% endblock %}
{% block english %}/complaints{% endblock %}
{% block main %}

  <h1>
    <span>Klachten</span>
  </h1>
  <h2>Een klacht? Bespreek uw onvrede met uw huisarts</h2>
  <p>Wanneer u ontevreden bent, stellen we het op prijs dat u dit met ons bespreekt. Wanneer wij op de hoogte zijn van uw onvrede, dan kunnen wij proberen het voor u op te lossen.</p>
  <p>Is dit lastig voor u of komt u er met ons niet uit, dan kunt u uw klacht bespreken met een onafhankelijke en onpartijdige klachtenfunctionaris. De klachtenfunctionaris zoekt samen met u naar een oplossing van uw klacht of probleem. De klachtenfunctionaris kan proberen de klacht te bemiddelen. De klachtenfunctionaris kiest geen partij en heeft daarom geen oordeel. Alles wat u de klachtenfunctionaris vertelt, is vertrouwelijk. U kunt het klachtenformulier gebruiken op
    <a href="https://www.skge.nl/klacht-indienen" target="_blank">de website van SKGE</a>. De klachtenfunctionaris is eventueel te bereiken op telefoonnummer 088 0229190.</p>
  <p>Als u er met uw huisarts en met bemiddeling door de klachtenfunctionaris niet uit komt, kunt u een uitspraak over uw klacht vragen bij de geschilleninstantie huisartsenzorg. Deze onafhankelijke commissie bestaat uit een voorzitter (jurist) en uit leden namens de patiënten en uit leden namens de huisartsen. De commissie wordt bijgestaan door een ambtelijk secretaris die ook jurist is.</p>
  <p>Het oordeel van de geschilleninstantie is bindend. Meer informatie kunt u in
    <a href="https://www.lhv.nl/sites/default/files/content/lhv_nl/uploads/nieuws/161222_praktijkfolder_huisarts_wkkgz_def.pdf" target="_blank">de folder</a>
    vinden in de wachtkamer en op
    <a href="http://www.skge.nl/" target="_blank">www.skge.nl</a>.</p>

{% endblock %}
