{% extends "layouts/page-en.html.njk" %}
{% block meta %}
  <title>Interesting links</title>
  <meta name="description" content="Interesting links to information supplementary to your consultation with your GP.">
{% endblock %}
{% block id %}interessante-links{% endblock %}
{% block nederlands %}/interessante-links{% endblock %}
{% block main %}

  <h1>
    <span>Interesting links</span>
  </h1>
  <ul>
    <li>
      <p>
        <a href="http://www.thuisarts.nl" target="_blank">Thuisarts.nl</a>
      </p>
      <p>Independent information about health, diseases and the use of medicines. This information is supplementary to your consultation with your GP,
        <strong>not a replacement</strong>.</p>
    </li>
    <li>
      <p>
        <a href="http://apotheek.nl" target="_blank">Apotheek.nl</a>
      </p>
      <p>Information about medicines</p>
    </li>
    <li>
      <p>
        <a href="http://www.diabetesfonds.nl/?gclid=CJmR0PG21K0CFYGEDgodjjlrkw" target="_blank">Diabetes Fonds</a>
      </p>
      <p>Information about diabetes</p>
    </li>
    <li>
      <p>
        <a href="http://www.dvn.nl/diabetes" target="_blank">DVN</a>
      </p>
      <p>Information about diabetes</p>
    </li>
    <li>
      <p>
        <a href="http://www.astmafonds.nl/" target="_blank">Astma Fonds</a>
      </p>
      <p>Information about astma</p>
    </li>
    <li>
      <p>
        <a title="Alles over sport en voeding" href="http://www.voedingscentrum.nl" target="_blank">Voedingscentrum.nl</a>
      </p>
      <p>All about sports and nutrions</p>
    </li>
    <li>
      <p>
        <a href="http://30minutenbewegen.nl" target="_blank">30 minuten bewegen</a>
      </p>
      <p>Your daily dose of movement</p>
    </li>
  </ul>

{% endblock %}
