{% extends "layouts/page-nl.html.njk" %}
{% block meta %}
  <title>Spoedgeval</title>
  <meta name="description" content="In geval van spoed bel 010 45 20 330 [keuze 1] of 122">
{% endblock %}
{% block id %}spoedgeval{% endblock %}
{% block english %}/emergencies{% endblock %}
{% block main %}

  <h1>
    <span>Spoedgeval</span>
  </h1>
  <p>In het geval van
    <strong>spoed</strong>
    kunt u ons bereiken van maandag tot en met vrijdag tussen 8.00 en 16.00 uur op het nummer 010 452 03 30 [keuze 1].U wordt dan doorverbonden met een van de medewerkers. Wanneer u gebruik maakt van de spoedlijn en er is geen acuut levensgevaar, dan zal de assistente de verbinding verbreken.</p>
  <p>
    <strong>Buiten onze openingstijden</strong>
    Buiten onze openingstijden wordt u automatisch doorgeschakeld naar de huisartsenpost (010 466 95 73). U kunt ook contact opnemen met de telefonische antwoord service (dokterstelefoon) op telefoonnummer 010 420 11 00.</p>
  <p>Ziet de situatie er zeer ernstig uit bel dan
    <strong>112</strong>.</p>


{% endblock %}
