{% extends "layouts/page-nl.html.njk" %}
{% block meta %}
  <title>Spoedgeval</title>
  <meta name="description" content="In geval van spoed bel 010 45 20 330 [keuze 1] of 122">
{% endblock %}
{% block id %}spoedgeval{% endblock %}
{% block english %}/emergencies{% endblock %}
{% block main %}

  <h1>
    <span>Spoedgeval</span>
  </h1>
  <p>In het geval van
    <strong>spoed</strong>
    kunt u ons bereiken van maandag tot en met vrijdag tussen 8.00 en 16.00 uur op het nummer 010 45 20 330 [keuze 1]. Wanneer u gebruik maakt van de spoedlijn en er is geen acuut levensgevaar, dan zal de assistente de verbinding verbreken.</p>
  <p>
    <strong>Bij afwezigheid</strong>
    wordt u doorverbonden met de dokterstelefoon of u kunt rechtsreeks contact opnemen met de huisartsenpost in het Sint Fransiscus Gasthuis, op het telefoonnummer 010 466 95 73.</p>
  <p>Ziet de situatie er zeer ernstig uit bel dan
    <strong>112</strong>.</p>

{% endblock %}
