{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "$": true,
    "jQuery": true,
    "ga": true
  },
  "rules": {
    "no-debugger": 1,
    "no-console": 0,
    "no-unused-vars": 1,
    "no-undef": 1
  }
}
