{% extends "layouts/page-nl.html.njk" %}
{% block meta %}
  <title>Patiëntenomgeving</title>
  <meta name="description" content="Leer meer over de online diensten die Huisarts Poelstra u ter beschikking stelt.">
{% endblock %}
{% block id %}patientenomgeving{% endblock %}
{% block english %}/patient-environment{% endblock %}
{% block main %}

  <h1>
    <span>Patiëntenomgeving</span>
  </h1>

  <h2>Wat is Patiëntenomgeving?</h2>
  <p>Patiëntenomgeving zijn de apps die wij gebruiken via dewelke U afspraken kan maken met onze praktijk. U kan ook herhaalrecepten bestellen, uw dossier inzien, laboratoriumresultaten inzien en E-consults doen.</p>

  <h2>Maak account aan</h2>
  <p>Indien u nog geen account heeft, gelieve te registeren:</p>
  <p>
    <a href="https://identificatie.uwzorgonline.nl/registratie?returnUrl=%2fconnect%2fauthorize%2fcallback%3fclient_id%3dPortal%26response_type%3dcode%26scope%3dopenid%2520WMS%26redirect_uri%3dhttps%253A%252F%252Fhuisartsenpraktijkpoelstra.uwzorgonline.nl%252F61d16e03-e9aa-4990-9353-cbfa89335b5e%252FOauthCallback%252F61d16e03-e9aa-4990-9353-cbfa89335b5e%252F%253Freturn_url%253Dhttps%253A%252F%252Fhuisartsenpraktijkpoelstra.uwzorgonline.nl%252F%26acr_values%3dtenant%253Adea7bc5a-2790-41ee-9f30-5804a8ba0617" target="_blank" rel="nofollow noopener">Registreren</a>
  </p>

  <h2>Online afspraak maken</h2>
  <p>Maak snel en eenvoudig online een afspraak met je huisarts of praktijkondersteuner via ons nieuwe digitale patiënten portaal. Wilt u online een afspraak maken</p>
  <p>
    <a href="https://huisartsenpraktijkpoelstra.uwzorgonline.nl/" target="_blank" rel="nofollow noopener">Maak online afspraak</a>
  </p>

  <h2>Online herhaalrecepten</h2>
  <p>U kunt een vervolgrecept aanvragen via ons patienten portaal. U ontvangt per mail een bevestiging van uw aanvraag. Na goedkeuring door de huisarts kunt u de volgende dag het recept ophalen in uw apotheek.</p>
  <p>
    <a href="https://huisartsenpraktijkpoelstra.uwzorgonline.nl/" target="_blank" rel="nofollow noopener">Bestel online herhaalrecept</a>
  </p>

  <h2>Inzage in uw dossier</h2>
  <p>In de loop van dit jaar kunt u via ons digitale patiënten portaal inzicht krijgen in uw eigen dossier. U vindt hier een overzicht van de behandelingen, uw medicijnen en nog veel meer relevante informatie.</p>
  <p>
    <em>Op termijn beschikbaar</em>
  </p>

  <h2>E-consult met huisarts</h2>
  <p>Wilt u een consult met uw huisarts en u bent niet in staat om ons te bezoeken. Dan kunt u ook via de mail met ons overleggen. Deze mogelijkheid wordt binnenkort toegevoegd aan ons patiënten portaal.</p>
  <p>
    <em>Binnenkort beschikbaar</em>
  </p>

  <h2>Laboratorium uitslagen</h2>
  <p>In de loop van dit jaar kunt u de uitslagen van uw bloed- en urinetest bekijken in ons nieuwe patiënten portaal. Samen met uw huisarts kunt u de uitslag van het onderzoek bespreken, desgewenst via een e-consult.</p>
  <p>
    <em>Op termijn beschikbaar</em>
  </p>

  <h2>Video bellen</h2>
  <p>Als laatste uitbreiding in onze dienstverlening zullen wij de mogelijkheid bieden om via een beeldverbinding een gesprek te voeren met uw huisarts of praktijkondersteuner. Voor een behandeling of onderzoek moet u wel langskomen.</p>
  <p>
    <em>Binnenkort beschikbaar</em>
  </p>

{% endblock %}
