<nav>
  <ul>
    <li><a href="/">Welkom</a></li>
    <li><a href="/spreekuren">Spreekuren</a></li>
    <li><a href="/spoedgeval">Spoedgeval</a></li>
    <li><a href="/inschrijving">Inschrijving</a></li>
    <li><a href="/herhaalrecepten">Herhaalrecepten</a></li>
    <li><a href="/sluitingsdagen">Sluitingsdagen</a></li>
    <li><a href="/medewerkers">Medewerkers</a></li>
    <li><a href="/interessante-links">Interessante links</a></li>
    <li><a href="/klachten">Klachten</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
