@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes outro {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

#calendar-event {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  min-width: 320px;
  box-sizing: border-box;
  animation-name: fade;
  animation-duration: 2000ms;
  animation-timing-function: $easeOutExpo;
  animation-fill-mode: forwards;
  padding: 10px;
  > div {
    max-width: 960px;
    border: 10px solid rgba(darken($warning-bg, 10%), 0.95);
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    > div {
      background: rgba($warning-bg, 0.98);
      padding: 20px;
    }
  }
  h1 {
    font-family: $lusitana-bold;
    color: $warning-text;
    line-height: 100%;
    padding: 0 0 20px;
    font-size: 28px;
  }
  p {
    margin: 0;
    color: $warning-text;
    & + p {
      margin-top: 10px;
    }
  }
  button {
    font-size: 17px;
    line-height: 36px;
    padding: 0 20px;
    &:hover {
      background: rgba(white, 0.3);
    }
    margin-top: 20px;
    border: 1px solid rgba(white, 0.3);
  }
  &.outro {
    animation-name: outro;
    animation-duration: 1400ms;
    animation-timing-function: $easeOutExpo;
    animation-fill-mode: forwards;
    pointer-events: none;
  }
}
