@font-face {
	font-family: 'Lato-Bold';
	font-style: normal;
	src: url('/static/assets/fonts/lato/subset-Lato-Bold.eot');
	src: url('/static/assets/fonts/lato/subset-Lato-Bold.eot?#iefix') format('embedded-opentype'),
       url('/static/assets/fonts/lato/subset-Lato-Bold.woff2') format('woff2'),
			 url('/static/assets/fonts/lato/subset-Lato-Bold.woff') format('woff'),
			 url('/static/assets/fonts/lato/subset-Lato-Bold.ttf') format('truetype'),
			 url('/static/assets/fonts/lato/subset-Lato-Bold.svg#Lato-Bold') format('svg');
}
@font-face {
	font-family: 'Lato-Regular';
	font-style: normal;
	src: url('/static/assets/fonts/lato/subset-Lato-Regular.eot');
	src: url('/static/assets/fonts/lato/subset-Lato-Regular.eot?#iefix') format('embedded-opentype'),
			 url('/static/assets/fonts/lato/subset-Lato-Regular.woff2') format('woff2'),
			 url('/static/assets/fonts/lato/subset-Lato-Regular.woff') format('woff'),
			 url('/static/assets/fonts/lato/subset-Lato-Regular.ttf') format('truetype'),
			 url('/static/assets/fonts/lato/subset-Lato-Regular.svg#Lato-Regular') format('svg');
}
@font-face {
	font-family: 'Lato-Black';
	font-style: normal;
	src: url('/static/assets/fonts/lato/subset-Lato-Black.eot');
	src: url('/static/assets/fonts/lato/subset-Lato-Black.eot?#iefix') format('embedded-opentype'),
			 url('/static/assets/fonts/lato/subset-Lato-Black.woff2') format('woff2'),
			 url('/static/assets/fonts/lato/subset-Lato-Black.woff') format('woff'),
			 url('/static/assets/fonts/lato/subset-Lato-Black.ttf') format('truetype'),
			 url('/static/assets/fonts/lato/subset-Lato-Black.svg#Lato-Black') format('svg');
}
@font-face {
	font-family: 'Lato-Light';
	font-style: normal;
	src: url('/static/assets/fonts/lato/subset-Lato-Light.eot');
	src: url('/static/assets/fonts/lato/subset-Lato-Light.eot?#iefix') format('embedded-opentype'),
       url('/static/assets/fonts/lato/subset-Lato-Light.woff2') format('woff2'),
			 url('/static/assets/fonts/lato/subset-Lato-Light.woff') format('woff'),
			 url('/static/assets/fonts/lato/subset-Lato-Light.ttf') format('truetype'),
			 url('/static/assets/fonts/lato/subset-Lato-Light.svg#Lato-Light') format('svg');
}
