$font-stack: 'Lusitana', Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
$sakkal-regular: 'Sakkal-Majalla-Regular', sans-serif;
$sakkal-bold: 'Sakkal-Majalla-Bold', sans-serif;
$paragraph-grey: #615f57;
$link-green: #8bbb2b;
$link-hover: #b4e067;
