$font-stack: 'Lusitana', Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
$sakkal-regular: 'Sakkal-Majalla-Regular', sans-serif;
$sakkal-bold: 'Sakkal-Majalla-Bold', sans-serif;
$paragraph-grey: #615F57;
$link-green: #8BBB2B;
$link-hover: #B4E067;

// Easing
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
