// Fonts
$font-stack: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
$sakkal-regular: 'Sakkal-Majalla-Regular', sans-serif;
$sakkal-bold: 'Sakkal-Majalla-Bold', sans-serif;

// Brand colours
$hotdoc-green: #1EA160;
$hotdoc-navy: #343B48;

// Colours unique to this project
$paragraph-grey: #5D626D;
$highlight-blue: #3D93D0;
$highlight-blue-bg: #E8F2F9;
$error-red: #FF7F7F;
$background-grey: #F7F7F7;
$border-grey-dark: #CDCDCD;
$border-grey-light: #EEEEEE;
