{% extends "layouts/page-en.html.njk" %}
{% block meta %}
  <title>Repeat Prescriptions</title>
  <meta name="description" content="">
{% endblock %}
{% block id %}herhaalrecepten{% endblock %}
{% block nederlands %}/herhaalrecepten{% endblock %}
{% block main %}

  <h1>
    <span>Repeat Prescriptions</span>
  </h1>
  <p>Repeat Prescriptions can be requested by :</p>

    <h2>Option 1</h2>
    <p>Digitally via the app "Patientenomgeving" on this website,first you need to create an account there.</p>
    <a href="https://huisartsenpraktijkpoelstra.uwzorgonline.nl/" class="p-button" target="_blank" rel="nofollow noopener">Order repeat prescription online</a>
    <h2>Option 2</h2>
    <p> Calling the
    <strong>prescription line</strong>
    ('receptenlijn') on 010 45 20 330, [option 2]. By default your prescriptions will be sent to your pharmacy.</p>
  <p>If request your prescription
    <strong>before 12PM</strong>, your medication should ready for pick-up the next day at your pharmacy.</p>
  <p>It's important that you clearly state your name, date of birth and phone nummer, as well the name and strength of your medication.</p>

{% endblock %}
