{% extends "layouts/page.html.njk" %}
{% block meta %}
  <title>Consultations</title>
  <meta name="description" content="To book your appointment please call us between 7:30 AM and 9:00 AM on 010 45 20 330 [option 3].">
{% endblock %}
{% block id %}spreekuren{% endblock %}
{% block nederlands %}/contact{% endblock %}
{% block main %}

  <h1>
    <span>Consultations</span>
  </h1>
  <h2>Consultations on appointment</h2>
  <p>Every morning
    <strong>after 7:00 AM</strong>
    from Monday until Friday we receive patients
    <strong>with appointments</strong>. To book your appointment please call us between 7:30 AM and 9:00 AM on 010 45 20 330 [option 3]. In case you become unable to attend your appointment, then please call us to cancel your appointment so we may tend
    to other patient. We much appreciate.</p>
  <h2>Without appointment</h2>
  <p>From Monday until Friday between 2:30 PM until 3:00 PM we receive patients
    <strong>without appointment</strong>. You do not need to call ahead or book an appointment, you can just walk in. Do mind, variable waiting times are expected.</p>
  <h2>Telephone consultations</h2>
  <p>For telephonic consultations you can call us from Monday until Friday between 1:30 PM until 2:00 PM on 010 45 20 330 [option 4].</p>
  <h2>Front desk opening times</h2>
  <p>The front desk is open from 8:00AM until 10:30AM and from 1:30PM until 3:00PM.</p>
  <h2>Home visits</h2>
  <p>Home visits have to be requested
    <strong>before 10AM</strong>, except emergencies. Please call 010 45 20 330 [option 3] to request a visit. Do mind, because visits cost a lot of time, we have to limit visits only to those patients who are unable to visit our practice in person.</p>
  <h2>Blood checks</h2>
  <p>In case you need a blood check, then please book an appointment. We will be able to receive you in the morning. Alternatively, you can contact
    <a href="https://www.star-mdc.nl/" target="_blank">STAR</a>
    between from Monday until Thursday between 7:00 AM and 7:00 PM and on Friday between 7:00 PM and 5:00 PM. Address:
    <a href="https://www.google.com.au/maps/place/Star-MDC/@51.9333772,4.4537734,13z/data=!4m8!1m2!2m1!1sSTAR+rotterdam+blaak!3m4!1s0x47c4335c5c02e7cf:0x927468e4be1a1345!8m2!3d51.9186968!4d4.4866038">Blaak 28, Rotterdam</a>.</p>
  <h2>Emergencies</h2>
  <p>For emergencies after hours please call the 'dokterstelefoon' on 010 420 11 00.</p>

{% endblock %}