{% extends "layouts/page-en.html.njk" %}
{% block meta %}
  <title>Consultations</title>
  <meta name="description" content="To book your appointment please call us between 7:30 AM and 9:00 AM on 010 45 20 330 [option 3].">
{% endblock %}
{% block id %}spreekuren{% endblock %}
{% block nederlands %}/Spreekuren {% endblock %}
{% block main %}

  <h1>
    <span>Consultations</span>
  </h1>
  <h2>Consultation by appointment</h2>
  <p>Every morning
    <strong>after 7:00 AM</strong>
    from Monday until Friday we receive patients
    <strong>with appointments</strong>. To book your appointment please call us between 7:30 AM and 9:00 AM on 010 45 20 330 [option 3].You can also make an appointment digitally via the green Patient Area button, or create an account there. In case you become unable to attend your appointment, then please call us to cancel your appointment so we may tend to other patient. We much appreciate.</p>
  <h2>Telephone consultation hours</h2>
  <p>For telephone consultations you can call us from Monday until Friday between 1:30 PM until 2:00 PM on 010 45 20 330 [option 4].</p>
  <h2>Front desk opening hours</h2>
  <p>The front desk is open from 8:00AM until 10:30AM and from 1:30PM until 3:00PM. Outside these times the desk is closed due to the large amounts of administration that has to be processed. Of course you can go for emergencies.</p>
  <h2>Home visits</h2>
  <p>Home visits have to be requested
    <strong>before 10AM</strong>, except emergencies. Please call 010 45 20 330 [option 3] to request a visit. Do mind, because visits cost a lot of time, we have to limit visits only to those patients who are unable to visit our practice in person due to illness.</p>
  <h2>Blood checks</h2>
  <p>You can visit the practice in the morning for blood tests. You must make an appointment for this by telephone. You can also contact the
    <a href="https://www.star-mdc.nl/" target="_blank">STAR</a>. 
  <h2>Emergencies</h2>
  <p>For emergencies, call the practice 010-4520330 [choice 1]. You will then get on the line with one of the employees. Outside our opening hours, you will be automatically forwarded to the general practitioner (tel.no. 010-4669573). You can also contact the Telephone Answering Service (doctor's telephone) on telephone number 010-420 11 00.
If the situation looks serious, call 112.</p>

{% endblock %}
