{% extends "layouts/page-en.html.njk" %}
{% block meta %}
  <title>Patiëntenomgeving</title>
  <meta name="description" content="What is Patiëntenomgeving?">
{% endblock %}
{% block id %}patientenomgeving{% endblock %}
{% block  nederlands %}/patientenomgeving{% endblock %}
{% block main %}

  <h1>
    <span>Patiëntenomgeving</span>
  </h1>
<h2>What is Patiëntenomgeving?</h2>
  <p>In the Patiëntenomgeving (patient environment) you can safely manage your health at our practice. You can book new appointments, request repeat prescriptions, review your medical file and lab results.</p>

<h2>Create an account</h2>
<p>If you don't have an account yet, please register:</p>
<a href="https://identificatie.uwzorgonline.nl/registratie?returnUrl=%2fconnect%2fauthorize%2fcallback%3fclient_id%3dPortal%26response_type%3dcode%26scope%3dopenid%2520WMS%26redirect_uri%3dhttps%253A%252F%252Fhuisartsenpraktijkpoelstra.uwzorgonline.nl%252F61d16e03-e9aa-4990-9353-cbfa89335b5e%252FOauthCallback%252F61d16e03-e9aa-4990-9353-cbfa89335b5e%252F%253Freturn_url%253Dhttps%253A%252F%252Fhuisartsenpraktijkpoelstra.uwzorgonline.nl%252F%26acr_values%3dtenant%253Adea7bc5a-2790-41ee-9f30-5804a8ba0617" class="p-button" target="_blank" rel="nofollow noopener">Register</a>

<h2>Make an appointment online</h2>
<p>Make an appointment quickly and easily online with your GP or practice nurse via our Patiëntenomgeving. Do you want to make an appointment online</p>
<a href="https://huisartsenpraktijkpoelstra.uwzorgonline.nl/" class="p-button" target="_blank" rel="nofollow noopener">Make an appointment online</a>

<h2>Online repeat prescriptions</h2>
<p>You can request a repeat prescription via our Patiëntenomgeving. You will receive a confirmation of your request by e-mail. After approval by the GP, you can pick up the prescription from your pharmacy the next day.</p>
<a href="https://huisartsenpraktijkpoelstra.uwzorgonline.nl/" class="p-button" target="_blank" rel="nofollow noopener">Order repeat prescription online</a>

<h2>View your file</h2>
<p>You can gain insight into your own file via our Patiëntenomgeving. Here you will find an overview of the treatments, your medicines and much more relevant information.</p>
<a href="https://huisartsenpraktijkpoelstra.uwzorgonline.nl/" class="p-button" target="_blank" rel="nofollow noopener">View the file</a>
<h2>E-consultation with GP</h2>

<p> If you are unable to visit us physically, you could request an online consultation with your GP. You can also consult us by e-mail.</p>
<a href="https://huisartsenpraktijkpoelstra.uwzorgonline.nl/" class="p-button" target="_blank" rel="nofollow noopener">Book here</a>

<h2>Laboratory results</h2>
<p>You can view the results of your blood and urine test here in our Patiëntenomgeving. You can discuss the results of the examination with your GP, if desired via an e-consultation.</p>
<a href="https://huisartsenpraktijkpoelstra.uwzorgonline.nl/" class="p-button" target="_blank" rel="nofollow noopener">View the result</a>

<h2>Video calling</h2>
<p>As a final extension to our services, we will offer the possibility to have a conversation with your GP or practice nurse via an video. However you must come by for a treatment or examination.</p>
<a href="https://huisartsenpraktijkpoelstra.uwzorgonline.nl/" class="p-button" target="_blank" rel="nofollow noopener">Book here</a>

{% endblock %}
