{% extends "layouts/page-en.html.njk" %}
{% block meta %}
  <title>Patient Environment</title>
  <meta name="description" content="What is patient environment?">
{% endblock %}
{% block id %}patientenomgeving{% endblock %}
{% block  nederlands %}/patientenomgeving{% endblock %}
{% block main %}

  <h1>
    <span>Patient Environment</span>
  </h1>
<h2>What is Patient Environment?</h2>
<p>Patient environment are the apps we use through which you can make appointments with our practice. You can also order repeat prescriptions, view your file, view laboratory results and do E-consults.</p>

<h2>Create an account</h2>
<p>If you don't have an account yet, please register:</p>
<p>
  <a href="https://identificatie.uwzorgonline.nl/registratie?returnUrl=%2fconnect%2fauthorize%2fcallback%3fclient_id%3dPortal%26response_type%3dcode%26scope%3dopenid%2520WMS%26redirect_uri%3dhttps%253A%252F%252Fhuisartsenpraktijkpoelstra.uwzorgonline.nl%252F61d16e03-e9aa-4990-9353-cbfa89335b5e%252FOauthCallback%252F61d16e03-e9aa-4990-9353-cbfa89335b5e%252F%253Freturn_url%253Dhttps%253A%252F%252Fhuisartsenpraktijkpoelstra.uwzorgonline.nl%252F%26acr_values%3dtenant%253Adea7bc5a-2790-41ee-9f30-5804a8ba0617" target="_blank" rel="nofollow noopener">Register</a>
</p>


  <h2>Make an appointment online</h2>
  <p>Make an appointment quickly and easily online with your GP or practice nurse via our new digital patient portal. Do you want to make an appointment online</p>
  <p>
    <a href="https://huisartsenpraktijkpoelstra.uwzorgonline.nl/" target="_blank" rel="nofollow noopener">Make an appointment online</a>
  </p>

  <h2>Online repeat prescriptions</h2>
  <p>You can request a repeat prescription via our patient area. You will receive a confirmation of your request by e-mail. After approval by the GP, you can pick up the prescription from your pharmacy the next day.</p>
  <p>
    <a href="https://huisartsenpraktijkpoelstra.uwzorgonline.nl/" target="_blank" rel="nofollow noopener">Order repeat prescription online</a>
  </p>

  <h2>View your file</h2>
  <p>You can gain insight into your own file via our digital patient portal. Here you will find an overview of the treatments, your medicines and much more relevant information.</p>
  <p>
    <em>Click here to view</em>
  </p>

  <h2>E-consultation with GP</h2>
  <p> If you are unable to visit us physically, you could request an online consultation with your GP. You can also consult us by e-mail.</p>
  <p>
    <em>Click here to book</em>
  </p>

  <h2>Laboratory results</h2>
  <p>You can view the results of your blood and urine test here in our new patient portal. You can discuss the results of the examination with your GP, if desired via an e-consultation.</p>
  <p>
    <em>Click here to see result</em>
  </p>

  <h2>Video calling</h2>
  <p>As a final extension to our services, we will offer the possibility to have a conversation with your GP or practice nurse via an video. However you must come by for a treatment or examination.</p>
  <p>
    <em>Available soon</em>
  </p>

{% endblock %}
