{% extends "layouts/page-en.html.njk" %}
{% block meta %}
  <title>Emergencies</title>
  <meta name="description" content="For emergencies call us on 010 45 20 330 [option 1] or 122.">
{% endblock %}
{% block id %}spoedgeval{% endblock %}
{% block nederlands %}/spoedgeval{% endblock %}
{% block main %}
  <h1>
    <span>Emergencies</span>
  </h1>
  <p>In case of an
    <strong>emergency</strong>
    please call us on our "emergency line" from Monday to Friday between 8:00 AM and 4:00 PM on <nobr>010 452 03 30</nobr> [option 1].You will then be put through to one of the employees. If you call this line and there appears to be no accute life danger, our phone operator will end the call.</p>
  <p>
    <strong>Outside our opening hours</strong>
    you will be automatically forwarded to the general practitioner <nobr>(010 466 95 73)<nobr>. Alternatively, you can call the "dokterstelefoon" on telephone number <nobr>010 420 11 00</nobr>.</p>
  <p>In case the situation seems severe, then please call
    <strong>112</strong>.</p>
{% endblock %}
