body {
  margin: 0;
  font-family: $lusitana-regular;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: $paragraph-grey;
  background: url("/assets/images/bg-pattern.jpg");
}
// The general layout of the page
footer,
header,
section {
  min-width: 320px;
  > div {
    max-width: 1080px;
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    @media (max-width: 850px) {
      padding: 0 10px;
    }
  }
}
// To avoid <img> and <iframe> to have weird white space below them, make them a block
iframe,
img {
  display: block;
}
// In most cases we use <ul> not as bullet lists and thus we strip them of all browser defaults
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: 0;
  }
}
// This is to override the browser default font-weight and margins
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $sakkal-regular;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}
dd,
dt,
li,
p {
  font-size: 16px;
  line-height: 150%;
  color: $paragraph-grey;
}
a {
  display: inline-block;
  color: $link-green;
  text-decoration: underline;
  &:hover {
    color: $link-hover;
  }
  &[href$=".pdf"] {
    padding-left: 20px;
    background: url("/assets/images/pdf.png") no-repeat;
  }
}
strong {
  font-weight: normal;
  font-family: $lusitana-bold;
}
a.button,
button {
  display: inline-block;
  padding: 0 14px;
  font-family: $lusitana-regular;
  font-size: 16px;
  line-height: 32px;
  color: white;
  cursor: pointer;
  background: rgba(white, 0);
  border: 0;
  outline: 0;
  transition: background-color 300ms ease-out;
  &:hover {
    background: rgba(white, 0.3);
  }
}
header,
main {
  > .inner {
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
body.show-mobile-nav {
  @media (max-width: 850px) {
    header {
      transform: translateX(-240px);
    }
    main > .inner {
      max-width: 700px;
      transform: translateX(-240px) !important;
      transition: all 800ms $easeOutExpo;
    }
  }
}
header {
  a.patientenomgeving {
    position: absolute;
    right: 20px;
    top: 26px;
    display: flex;
    font-family: $ubuntu;
    color: white;
    text-shadow: 0 1px 5px rgba(black, 0.3);
    text-decoration: none;
    border-radius: 3px;
    line-height: 42px;
    padding: 0 17px;
    width: min-content;
    background: linear-gradient($paragraph-grey, lighten($paragraph-grey, 10%));
    font-size: 17px;
    font-weight: 600;
    transition: all 300ms $easeOutExpo;
    box-shadow: 0 2px 0 0 darken($paragraph-grey, 2%);
    &:hover {
      padding: 0 21px;
      box-shadow: 0 3px 0 0 darken($paragraph-grey, 2%);
    }
    img {
      width: 20px;
      height: auto;
      margin-right: 8px;
    }
  }
}
main {
  position: relative;
  min-height: 650px;
  margin-bottom: 100px;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  @media (max-width: 850px) {
    margin-bottom: 80px;
  }
  &:after,
  &:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    content: " ";
  }
  &:before {
    bottom: 0;
    z-index: 2;
    height: 50px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  &:after {
    top: 0;
    height: 100px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  > .inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition: transform 800ms $easeOutExpo;
    article,
    nav {
      > .inner {
        position: relative;
        z-index: 2;
        padding: 15px;
      }
      &:after,
      &:before {
        position: absolute;
        z-index: 1;
        height: 620px;
        content: " ";
      }
      &:before {
        top: 0;
        left: 20px;
        width: calc(100% - 40px);
        background: white;
        box-shadow: 0 0 20px RGBA(0, 0, 0, 0.2);
        @media (max-width: 850px) {
          left: 10px;
          width: calc(100% - 20px);
        }
      }
      &:after {
        top: 120px;
        left: 0;
        width: 100%;
        background: linear-gradient(
          to top,
          rgba(255, 255, 255, 1) 40%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
    nav {
      width: 280px;
      padding: 0 20px;
      transform: translateY(-60px);
      box-sizing: border-box;
      @media (max-width: 1080px) {
        width: 28vw;
        // padding: 0 2vw;
      }
      @media (max-width: 850px) {
        position: absolute;
        right: 0;
        z-index: 1;
        width: 240px;
        transform: translateY(-95px) translateX(240px);
      }
      &:after,
      &:before {
        height: 380px;
        // @media (max-width: 850px) {
        //   left: 20px;
        // }
      }
      .inner {
        @media (max-width: 850px) {
          left: -10px;
        }
      }
      ul {
        li {
          a {
            display: block;
            width: 190px;
            height: 36px;
            padding: 0 10px;
            font-size: 16px;
            line-height: 36px;
            color: $paragraph-grey;
            text-align: left;
            text-decoration: none;
            border-bottom: 1px dotted #cdcdcd;
            display: flex;
            align-items: center;
            @media (max-width: 1080px) {
              width: 17.59259vw;
              // padding: 0 0.9259259vw;
            }
            @media (max-width: 850px) {
              width: 100%;
            }
            &:hover {
              color: #fff;
              text-shadow: 1px 1px 10px rgba(black, 0.4);
              background: url("/assets/images/bg-navigatie.jpg") no-repeat left
                top;
              svg {
                [fill] {
                  fill: white;
                }
              }
            }
            svg {
              width: 12px;
              height: auto;
              margin-left: 10px;
              [fill] {
                fill: $paragraph-grey;
              }
            }
          }
        }
      }
      a.language {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-top: 15px;
        color: $paragraph-grey;
        text-decoration: none;
        &:hover {
          color: $link-hover;
          text-decoration: underline;
        }
        &.en,
        &.nl {
          &:before {
            width: 20px;
            height: 15px;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-size: 20px 15px;
            content: " ";
          }
        }
        &.en {
          &:before {
            background-image: url("/assets/images/gb.svg");
          }
        }
        &.nl {
          &:before {
            background-image: url("/assets/images/nl.svg");
          }
        }
        img {
          width: 24px;
          height: auto;
          margin-right: 10px;
        }
      }
    }
    article {
      width: 100%;
      max-width: 720px;
      padding: 0 20px;
      transform: translateY(-120px);
      box-sizing: border-box;
      @media (max-width: 1080px) and (min-width: 851px) {
        width: 72vw;
        // padding: 0 2vw;
      }
      @media (max-width: 850px) {
        max-width: 700px;
        padding: 0 10px;
        transform: translateY(-95px);
      }
      > .inner {
        position: relative;
        z-index: 2;
      }
      h1 {
        margin: 0 0 36px;
        background: url("/assets/images/bg-title.jpg");
        span {
          display: block;
          padding: 0 15px;
          font-size: 50px;
          line-height: 50px;
          color: white;
          text-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
          transform: translateY(4px);
        }
      }
      h2 {
        margin: 42px 30px 16px;
        font-family: $lusitana-bold;
        font-size: 20px;
        @media (max-width: 600px) {
          margin-right: 15px;
          margin-left: 15px;
        }
      }
      p {
        margin: 16px 30px;
        @media (max-width: 600px) {
          margin-right: 15px;
          margin-left: 15px;
        }
      }
      ul {
        padding-left: 30px;
        margin: 16px 30px;
        list-style: disc;
        @media (max-width: 600px) {
          margin-right: 15px;
          margin-left: 15px;
        }
        li {
          padding-left: 10px;
        }
      }
    }
  }
}

a.p-button,
.green-button {
  border: 2px solid lighten($link-green, 10%);
  padding: 8px 30px;
  text-decoration: none;
  font-size: 16px;
  margin-left: 30px;
  color: darken($link-green, 5%);
  transition: padding 300ms $easeOutExpo;
  &:hover {
    text-decoration: underline;
    color: darken($link-green, 10%);
    padding: 8px 34px;
  }
}

.buttons.horizontal {
  display: flex;
  margin-top: 33px;
}
