{% extends "layouts/page-en.html.njk" %}
{% block meta %}
  <title>Privacy</title>
  <meta name="description" content="About your personal data and privacy in our GP practice.">
{% endblock %}
{% block id %}privacy{% endblock %}
{% block nederlands %}/privacy{% endblock %}
{% block main %}

  <h1>
    <span>Privacy statement</span>
  </h1>

  <p>About: Your personal data and privacy in our GP practice.</p>
  <p>Due to the legal nature of this document we have not yet been able to translate this document to English. Do accept our apologies for the inconvenience.</p>

  <h2>Algemeen</h2>
  <p>De AVG is de nieuwe wet ter bescherming van privacy en persoonsgegevens. Op grond van deze wet heeft een organisatie die met persoonsgegevens werkt bepaalde plichten en heeft degene van wie de gegevens zijn bepaalde rechten. Naast deze algemene
    wet gelden specifieke regels voor de privacy in de gezondheidszorg. Deze regels staan onder andere vermeld in de Wet geneeskundige behandelingsovereenkomst (WGBO). Dit privacyreglement is bedoeld om u te informeren over uw rechten en onze plichten
    die gelden op grond van de AVG en de WGBO.</p>

  <h2>Huisartsenpraktijk</h2>
  <p>In onze huisartsenpraktijk kunnen diverse persoonsgegevens van u verwerkt worden. Dit is noodzakelijk om u medisch goed te kunnen behandelen en nodig voor het financieel afhandelen van de behandeling. Daarnaast kan verwerking noodzakelijk zijn
    voor, bijvoorbeeld, de bestrijding van ernstig gevaar voor uw gezondheid of ter voldoening aan een wettelijke verplichting (bijvoorbeeld het verplicht melden van een besmettelijke ziekte op grond van de Wet Publieke Gezondheid).</p>

  <h2>De plichten van de huisartsenpraktijk</h2>
  <p>Huisartspraktijk Poelstra is volgens de AVG de verantwoordelijke voor de verwerking van persoonsgegevens die in de praktijk plaatsvindt. Aan de plichten die daaruit voortkomen, voldoet de praktijk als volgt:</p>
  <ul>
    <li>Uw gegevens worden voor specifieke doeleinden verzameld:</li>
    <li>voor zorgverlening;</li>
    <li>voor doelmatig beheer en beleid;</li>
    <li>voor ondersteuning van wetenschappelijk onderzoek, onderwijs en voorlichting.</li>
    <li>Er vindt in beginsel geen verwerking plaats voor andere doeleinden.</li>
    <li>U wordt op de hoogte gesteld van het feit dat er persoonsgegevens van u verwerkt worden. Dit kan gebeuren door uw zorgverlener, maar ook via een folder of via onze website.</li>
    <li>Alle medewerkers binnen huisartspraktijk Poelstra hebben zich verplicht om vertrouwelijk om te gaan met uw persoonsgegevens.</li>
    <li>Uw persoonsgegevens worden goed beveiligd tegen onbevoegde toegang.</li>
    <li>Uw persoonsgegevens worden niet langer bewaard dan noodzakelijk is voor goede zorgverlening.</li>
  </ul>
  <p>Voor medische gegevens is deze bewaartermijn in principe 15 jaar (vanaf de laatste behandeling), tenzij langer bewaren noodzakelijk is, bijvoorbeeld voor de gezondheid van uzelf of van uw kinderen. Dit is ter beoordeling van de behandelaar.</p>

  <h2>Uw rechten als betrokkene:</h2>
  <p>U heeft de volgende rechten:</p>
  <ul>
    <li>Het recht om te weten of en welke persoonsgegevens van u verwerkt worden.</li>
    <li>Het recht op inzage en afschrift van die gegevens (voor zover de privacy van een ander daardoor niet wordt geschaad).</li>
    <li>Het recht op correctie, aanvulling of verwijdering van gegevens indien dat nodig mocht zijn.
    </li>
    <li>Het recht om (gedeeltelijke) vernietiging van uw medische gegevens te vragen. Hieraan kan alleen tegemoet worden gekomen als het bewaren van de gegevens voor een ander niet van aanmerkelijk belang is en de gegevens op grond van een wettelijke
      regeling niet bewaard moeten blijven.</li>
    <li>Het recht op het toevoegen van een eigen verklaring (van medische aard) aan uw dossier.</li>
    <li>Het recht om u in bepaalde gevallen tegen de verwerking van uw gegevens te verzetten.</li>
  </ul>

  <p>Als u gebruik wilt maken van uw rechten, dan kunt u dit mondeling of middels een aanvraagformulier kenbaar maken aan Huisartspraktijk Poelstra. Uw belangen kunnen ook behartigd worden door een vertegenwoordiger (zoals een schriftelijk gemachtigde,
    of uw curator of mentor).</p>

  <h2>Toelichting op het aanvraagformulier</h2>
  <p>U moet er rekening mee houden dat medische gegevens ingevolge de wet in principe maximaal vijftien jaar bewaard worden. U helpt ons met het opzoeken van uw dossier en het beschermen van uw privacy als u het formulier zo volledig mogelijk invult.
    De door u ingevulde gegevens worden door ons strikt vertrouwelijk behandeld. Huisartspraktijk Poelstra is niet aansprakelijk voor fouten in de postbezorging. Indien u er de voorkeur aan geeft om het dossier persoonlijk, of door een gemachtigde, op te
    halen dan kunt u dit op het formulier aangeven.
  </p>

  <h2>Gegevens patiënt</h2>
  <p>Hierbij vermeldt u de gegevens van de persoon over wie het medisch dossier gaat. De Wet Geneeskundige Overeenkomst (WBGO) beschouwt de patiënt als meerderjarig vanaf 16 jaar. Jongeren vanaf 16 jaar die inzage/afschrift van hun medisch dossier
    willen, moeten zelf de aanvraag indienen. Indien de patiënt niet meer in leven is, is het verstrekken van de medische gegevens toegestaan indien verondersteld kan worden dat de overledene hiertegen geen bezwaar zou hebben gehad of er sprake is van
    zwaarwegende belangen om de zwijgplicht van de zorgverlener te doorbreken. Deze beslissing ligt bij de zorgverlener.</p>

  <h2>Verstrekking van uw persoonsgegevens aan derden</h2>
  <p>De medewerkers van huisartspraktijk Poelstra hebben de verplichting vertrouwelijk met uw persoonsgegevens om te gaan. Dit houdt bijvoorbeeld in dat de zorgverlener voor verstrekking van uw persoonsgegevens uw uitdrukkelijke toestemming nodig
    heeft. Op deze regel bestaan echter enkele uitzonderingen. Op grond van een wettelijk voorschrift kan de zwijgplicht van de zorgverlener doorbroken worden, maar ook wanneer gevreesd moet worden voor een ernstig gevaar voor uw gezondheid of die van
    een derde. Bovendien kunnen vastgelegde gegevens, indien noodzakelijk mondeling, schriftelijk of digitaal uitgewisseld worden met andere zorgverleners (bijvoorbeeld de apotheker die een recept verwerkt en zodoende gegevens verstrekt krijgt van de
    huisarts).
  </p>

  <h2>Uitwisseling gegevens
  </h2>
  <p>Huisartspraktijk Poelstra wisselt, nadat u hiervoor gericht toestemming heeft gegeven, via &lt;het Landelijk Schakelpunt&gt; relevante medische gegevens veilig en betrouwbaar met de huisartsenpost (HAP). Bent u 's avonds of in het weekend op de
    HAP geweest, dan deelt die op zijn beurt een waarneembericht met de huisartsenpraktijk. Zo weet de huisarts precies met welke klachten u op de HAP bent geweest en wat er naar aanleiding daarvan is ondernomen.</p>
  <p>Ook kunnen er medicatiegegevens gedeeld worden met uw apotheek en uw behandelend medisch specialisten. Daarbij gaat het om de medicatie die de huisarts aan u heeft voorgeschreven, maar ook om eventuele intoleranties, contra-indicaties en
    allergieën (ICA-gegevens). Daar kunnen andere voorschrijvers en verstrekkers van medicatie rekening mee houden. Zo dragen wij als huisartsenpraktijk bij aan medicatieveiligheid.</p>

  <h2>Overdracht van uw dossier</h2>
  <p>Als u een nieuwe huisarts kiest, is het belangrijk dat uw nieuwe huisarts op de hoogte is van uw medische geschiedenis. Uw medische geschiedenis staat in uw patiëntendossier. Het is gebruikelijk dat uw oude huisarts het dossier overdraagt aan uw
    nieuwe huisarts. De oude huisarts doet dit zo spoedig mogelijk, in ieder geval binnen een maand, nadat u uw oude huisarts heeft gevraagd het dossier over te dragen aan uw nieuwe huisarts.</p>
  <p>Uw medisch dossier wordt dan door uw huisarts persoonlijk of per aangetekende post overgedragen. U kunt het originele dossier niet meekrijgen. Wel heeft u altijd recht op inzage in uw dossier en op een kopie van uw dossier. Het dossier kan (indien
    mogelijk) ook via e-mail aan de nieuwe huisarts worden overgedragen. Beide huisartsen moeten er dan wel voor zorgen dat hun computer en internetverbindingen voldoende beveiligd zijn.
  </p>

  <h2>Vraag of klacht
  </h2>
  <p>Heeft u een vraag of een klacht? Bijvoorbeeld over met wie wij gegevens delen of onze omgang met uw medische gegevens? Dan gaat uw huisarts hierover graag met u in gesprek.</p>

  <h2>Aanvraagformulier voor inzage, afschrift, correctie of vernietiging van uw medische gegevens</h2>
  <p>Gelieve dit formulier te downloaden, in te vullen en aan ons te bezorgen indien u uw persoonsgegevens wil inzien, aanpassen of vernietigen:</p>
  <p>
    <a href="/assets/documents/Aanvraagformulier-inzage-afschrift-correctie-of-vernietiging-medische-gegevens.docx" target="_blank">Aanvraagformulier</a>
  </p>

{% endblock %}