{% extends "layouts/page-nl.html.njk" %}
{% block meta %}
  <title>Contact</title>
  <meta name="description" content="Adres: Huisartspraktijk F. Poelstra, Oudedijk 299a, 3061 AL Rotterdam. Telefoon: 010-4520330">
{% endblock %}
{% block id %}contact{% endblock %}
{% block english %}/contact{% endblock %}
{% block main %}

  <h1>
    <span>Contact</span>
  </h1>
  <div class="columns">
    <div>
      <img src="/assets/images/huisartspraktijk-poelstra-voorgevel.jpg" alt="Huisartspraktijk Poelstra voorgevel in Rotterdam" width="300" height="200">
    </div>
    <div>
      <dl>
        <dt>Telefoon:</dt>
        <dd>010- 45 20 330</dd>
        <dt>Adres:</dt>
        <dd>Huisartspraktijk F. Poelstra<br>
          Oudedijk 299a<br>
          3061 AL Rotterdam</dd>
      </dl>
    </div>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2460.1902389786765!2d4.501228552108908!3d51.93048347960758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c4333609e6debf%3A0x5af26035c2cf9eb8!2sHuisartspraktijk+Poelstra!5e0!3m2!1sen!2sau!4v1494649664620" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<!--
  <div id="contact-form">
    <h2>Contacteer ons</h2>
    <p>Schrijf ons via onderstaand contactformulier. <br>Gelieve hier geen medische vragen te stellen vanwege de privacywetgeving.</p>

    <label for="name">Naam</label>
    <input id="name" type="text" />

    <label for="email">Email</label>
    <input id="email" type="email" />

    <label for="comment">Vraag en/of opmerking</label>
    <textarea id="comment" rows="5" cols="50"></textarea>

    <div class="buttons">
      <a href="/" class="p-button">Versturen</a>
    </div>
  </div>
-->
{% endblock %}
