{% extends "layouts/page-en.html.njk" %}
{% block meta %}
  <title>New patients</title>
  <meta name="description" content="We accept only few new patients. However, if you live in postcode 3061 we can take you on.">
{% endblock %}
{% block id %}inschrijven{% endblock %}
{% block nederlands %}/inschrijving{% endblock %}
{% block main %}

  <h1>
    <span>New patients</span>
  </h1>
  <p>Our GP practice is
    <strong>quite busy</strong>. That is why we can accept only few new patients.</p>
  <p>If you live in the postal codes
    <strong>3061</strong>, <strong>3062</strong> or <strong>3063</strong>
    and you do not yet have a GP, then you can subscribe to our practice.

    <h2>Option 1</h2>
    <p>Click “Sign up immediately” button</p>
    <h2>Option 2</h2>
    <p>You can visit us on Monday to Friday between 8:00 AM and 10:00 AM or between 1:30 PM and 3:00 PM. Please download the form below and hand it over in person to our reception staff:</p>
    <p><a href="/assets/documents/2019-10-18-registration-form.pdf" target="_blank">Application form.pdf</a></p>
  <p>You are required to bring proof ID and insurrance.</p>
  <p>Following the link below you can give 'Landelijk Schakel Punt' permissions to share your medical data with other health care providers, such as pharmasists and GPs, if ever in case of emergencies they need to see your medical data:</p>
  <p>
    <a href="https://www.ikgeeftoestemming.nl/nl/registratie/toestemming-regelen/01050727" target="_blank">https://www.ikgeeftoestemming.nl/nl/registratie/toestemming-regelen/01050727</a>
  </p>

{% endblock %}
