{% extends "layouts/page-en.html.njk" %}
{% block meta %}
  <title>New patients</title>
  <meta name="description" content="We accept only few new patients. However, if you live in postcode 3061 we can take you on.">
{% endblock %}
{% block id %}registration{% endblock %}
{% block nederlands %}/inschrijving{% endblock %}
{% block main %}

  <h1>
    <span>New patients</span>
  </h1>
  <p>Our GP practice is
    <strong>quite busy</strong>. That is why we can accept only few new patients.</p>
  <p>If you live in the postal code <strong>3061</strong>, <strong>3062</strong>, <strong>3063</strong>, <strong>3031</strong>, <strong>3023</strong>, <strong>3034</strong> or <strong>3035</strong> and you do not yet have a GP, then you can subscribe to our practice.</p>
    <h2>Option 1 – online</h2>
    <p>Fill out the form below:</p>
    <div id="registration-form" class="form idle">
      <fieldset>
        <label for="first-name">First name</label>
        <input id="first-name" type="text" />
      </fieldset>

      <fieldset>
       <label for="last-name">Last name</label>
        <input id="last-name" type="text" />
      </fieldset>

      <fieldset>
        <label for="gender">Gender</label>
        <input id="gender" type="text" />
      </fieldset>

      <fieldset>
        <label for="dob" >Date of birth</label>
        <input id="dob" type="date" placeholder="dd/mm/yyyy"/>
      </fieldset>

      <fieldset>
        <label for="address" >Address</label>
        <textarea id="address" rows="4" cols="50"></textarea>
      </fieldset>

      <fieldset>
        <label for="email" >Email</label>
        <input id="email" type="email"/>
      </fieldset>

      <fieldset>
        <label for="phone" >Phone</label>
        <input id="phone" type="text"/>
      </fieldset>

      <fieldset>
        <label for="bsn" >BSN number</label>
        <input id="bsn" type="text"/>
      </fieldset>

      <div class="agreement">
        <button class="checkbox checked" id="agreement-1">
          <span class="icon"></span>
          <span>I agree to register with Dr Poelstra and I also give permission to request my file from my previous caretaker.</span>
        </button>

        <button class="checkbox checked" id="agreement-2">
          <span class="icon"></span>
          <span>I agree that Dr Poelstra processes my data that is required for registration.</span>
        </button>
      </div>

      <div class="footer">
        <button class="green-button">Send</button>
        <p class="sending">Sending...</p>
        <p class="success">Your registration has been sent and well received. We will contact you shortly.</p>
        <p class="fail">Sorry, your registration was not sent. Kindly follow the instructions under option 2.</p>
      </div>
    </div>

    <h2>Option 2 – paper</h2>
    <p>You can visit us on Monday to Friday between 8:00 AM and 10:00 AM or between 1:30 PM and 3:00 PM. Please download the form below and hand it over in person to our reception staff:</p>
    <p><a href="/assets/documents/2019-10-18-registration-form.pdf" target="_blank">Application form.pdf</a></p>
    <p>You are required to bring proof ID and insurrance.</p>
    <p>Following the link below you can give 'Landelijk Schakel Punt' permissions to share your medical data with other health care providers, such as pharmasists and GPs, if ever in case of emergencies they need to see your medical data:</p>
    <p>
      <a href="https://www.ikgeeftoestemming.nl/nl/registratie/toestemming-regelen/01050727" target="_blank">https://www.ikgeeftoestemming.nl/nl/registratie/toestemming-regelen/01050727</a>
    </p>

{% endblock %}
