{% extends "layouts/page-en.html.njk" %}
{% block meta %}
  <title>Team</title>
  <meta name="description" content="Meet our team.">
{% endblock %}
{% block id %}team{% endblock %}
{% block nederlands %}/team{% endblock %}
{% block main %}

  <div class="carousel next">
    <div class="photos">
      <img src="/assets/images/frank-Poelstra@2.jpg" alt="Huisarts Frank Poelstra" class="active">
      <img src="/assets/images/petra-poelstra-kranenburg.jpg" alt="Praktijk Manager Petra Poelstra Kranenburg">
      <img src="/assets/images/jorden-paauwe@2.jpg" alt="Zelfstandig huisarts Jorden Paauwe">
      <img src="/assets/images/suzanne-van-rijn@2.jpg" alt="Zelfstandig huisarts Suzanne van Rijn">
      <img src="/assets/images/doortje-bok@2.jpg" alt="Zelfstandig huisarts Doortje Bok">
      <img src="/assets/images/praktijkondersteuner-christine-van-de-brink.jpg" alt="Praktijkondersteuner Christine van de Brink">
      <img src="/assets/images/zubeyde-kilic.jpg" alt="Dokterassistente Assistent Zubeyde Kiliç">
      <img src="/assets/images/michelle-monteny.jpg" alt="Michelle Monteny">
      <img src="/assets/images/emma-braun@2.jpg" alt="Dokterassistente Emma Braun">
      <img src="/assets/images/aimee-salsa-Lozano@2.jpg" alt="PA Aimee Salsa Lozano">
    </div>
    <div class="buttons">
      <button class="prev">Previous</button>
      <button class="next">Next</button>
    </div>
  </div>
  <h1>
    <span>Meet our team</span>
  </h1>
  <h2>General Practioners (GPs)</h2>
  <p>In addition to Frank Poelstra, there are 3 independent general practitioners working in the practice.</p>
  <h2>Physician Assistent</h2>
  <p>Currently we have one Physician Assistent training at our GP practice. That means have one extra doctor available to look after the more common problems GPs would face.</p>
  <h2>Staff for Chronic Diseases</h2>
  <p>Our Staff for Chronic Diseases looks after patients with chronic diseases. We have decicated consultation times for Diabetes Mellitus, Astma Copd, Hypertension and heart failures. They are trained and experienced in these fields and have more time available than our GP for all your questions.</p>
  <h2>Staff for Menthal Health</h2>
  <p>Our Staff for Menthal Health looks after the mental health of patients. She is trained and expereinced in the field of psychological and emotional complaints.</p>
  <h2>GP Assistent</h2>
  <p>Our doctors assistents are your first line of help when it comes to practical and relatively easy medical questions. From Monday to Friday between 8:00 AM and 10:00 AM and between 1:30 PM and 3:00 PM you can ask her questions about for example:</p>
  <ul>
    <li>Urine tests</li>
    <li>Pregnancy tests (costs 10 Euro)</li>
    <li>Vaccinations</li>
    <li>Removal of stitches</li>
    <li>Cleaning of the ears</li>
    <li>Pap smears</li>
    <li>EKG</li>
  </ul>


{% endblock %}
