{% extends "layouts/page-nl.html.njk" %}
{% block meta %}
  <title>Spreekuren</title>
  <meta name="description" content="Voor het maken van een afspraak kunt u bellen tussen 7.30 en 9.00 uur op ons algemene nummer 010 45 20 330 [keuze 3].">
{% endblock %}
{% block id %}spreekuren{% endblock %}
{% block english %}/consultations{% endblock %}
{% block main %}

  <h1>
    <span>Spreekuren</span>
  </h1>

  <h2>Spreekuur op afspraak</h2>
<p>Van maandag tot en met vrijdag is er iedere ochtend vanaf 7 uur een spreekuur op afspraak. Voor het maken van een afspraak kunt u bellen tussen 7.30 en 9.00 uur op ons algemene nummer <nobr>010 45 20 330</nobr> [keuze 3]. Ook kunt u digitaal een afspraak maken via de knop Patiëntenomgeving bovenaan de website, of maak daar een account aan. U kunt daar ook een emailconsult of een videoconsult aanvragen. Bij verhindering van een gemaakte afspraak dit graag zo spoedig mogelijk telefonisch doorgeven.</p>

  <h2>Telefonisch spreekuur</h2>
  <p>Voor het telefonisch spreekuur zijn wij bereikbaar op werkdagen tussen 13.30 en 14.00 uur op het algemeen nummer 010 45 20 330 [keuze 4].
  <h2>Openingstijden assistentebalie</h2>
  <p>De balie van de assistentes is geopend tussen 8 uur en 10.30 uur en tussen 13.30 uur en 15.00 uur. Buiten deze tijden is de balie gesloten in verband met de grote hoeveelheden administratie, die verwerkt moet worden. Uiteraard kunt u wel terecht voor spoedgevallen.</p>
  <h2>Visites</h2>
  <p>Visites dienen voor 10.00 uur aangevraagd te worden (behalve spoedgevallen) in verband met de indeling van de werkdag. U kunt ons hiervoor op werkdagen bereiken op het algemeen nummer 010 45 20 330 [keuze 3]. Huisbezoeken kosten veel tijd en zijn beperkt tot die gevallen waarbij komst naar de praktijk door ziekte niet mogelijk is.</p>
  <h2>Bloedprikken</h2>
  <p>Voor bloedprikken kunt u in de ochtend terecht in de praktijk. U dient hiervoor telefonisch een afspraak te maken. Tevens kunt u terecht bij de
    <a href="https://www.star-mdc.nl/" target="_blank">STAR</a>.
  <h2>Spoedgevallen</h2>
  <p>Voor spoedgevallen belt u de praktijk 010-4520330 [keuze 1]. U krijgt dan een van de medewerkers aan de lijn. Buiten onze openingstijden wordt u automatisch doorgeschakeld naar de huisartsenpost ( tel.nr 010-4669573). U kunt ook contact opnemen met de Telefonische antwoord service (dokterstelefoon) op telefoonnummer 010- 420 11 00.
Ziet de situatie er ernstig uit bel dan 112.</p>

{% endblock %}
