{% extends "layouts/page-nl.html.njk" %}
{% block meta %}
  <title>Team</title>
  <meta name="description" content="Ontmoet iedereen die in onze praktijk werkt.">
{% endblock %}
{% block id %}team{% endblock %}
{% block english %}/team{% endblock %}
{% block main %}

  <div class="carousel next">
    <div class="photos">
      <img src="/assets/images/huisarts-frank-poelstra@2.jpg" alt="Huisarts Frank Poelstra" class="active">
      <img src="/assets/images/petra-poelstra-kranenburg.jpg" alt="Praktijk Manager Petra Poelstra Kranenburg">
      <img src="/assets/images/praktijkondersteuner-christine-van-de-brink.jpg" alt="Praktijkondersteuner Christine van de Brink">
      <img src="/assets/images/zubeyde-kilic.jpg" alt="Dokterassistente Assistent Zubeyde Kiliç">
      <img src="/assets/images/michelle-monteny.jpg" alt="Michelle Monteny">
      <img src="/assets/images/emma-braun@2.jpg" alt="Dokterassistente Emma Braun">
      <img src="/assets/images/aimee-salsa-Lozano@2.jpg" alt="PA Aimee Salsa Lozano">
      <img src="/assets/images/jorden-paauwe@2.jpg" alt="Zelfstandig huisarts Jorden Paauwe">
      <img src="/assets/images/suzanne-van-rijn@2.jpg" alt="Zelfstandig huisarts Suzanne van Rijn">
      <img src="/assets/images/doortje-bok@2.jpg" alt="Zelfstandig huisarts Doortje Bok">
    </div>
    <div class="buttons">
      <button class="prev">Vorige</button>
      <button class="next">Volgende</button>
    </div>
  </div>
  <h1>
    <span>Team</span>
  </h1>
  <h2>Huisartsen</h2>
  <p>Naast Frank Poelstra zijn er 3 zelfstandige huisartsen werkzaam in de praktijk.</p>
  <h2>Physician Assistent</h2>
  <p>In onze praktijk is een Physician assistent in opleiding werkzaam. Zij wordt onze extra dokter (HBO) voor de overzichtelijke problemen.<p>
  <h2>Praktijkondersteuner</h2>
  <p>Binnen de praktijk houdt de praktijkondersteuner zich bezig met de zorg aan chronisch zieken. Er zijn speciale spreekuren voor Diabetes mellitus, Astma Copd, Hypertensie en Hartfalen. De praktijkondersteuner is deskundig op het gebied van begeleiding en voorlichting en heeft meer tijd voor het bespreken van uw vragen.</p>
  <h2>Praktijkondersteuner GGZ</h2>
  <p>Binnen de praktijk houdt de praktijkondersteuner GGZ zich bezig met de geestelijke gezondheidszorg. Zij is deskundig en biedt begeleiding bij psychische of emotionele klachten.</p>
  <h2>Doktersassistente</h2>
  <p>Voor veel praktische zaken en eenvoudige medische vragen kunt u terecht bij de doktersassistente. Tijdens de openingstijden van de balie, 08.00 tot 10.00 uur en 13.30 tot 15.00 uur, kunt u onder meer bij haar terecht voor:</p>
  <ul>
    <li>Urine-onderzoek</li>
    <li>Zwangerschapstest (kosten 10 euro)</li>
    <li>Injecties</li>
    <li>Verwijderen van hechtingen</li>
    <li>Uitspuiten van de oren</li>
    <li>Uitstrijkjes</li>
    <li>ECG</li>
  </ul>

{% endblock %}
