{% extends "layouts/page-nl.html.njk" %}
{% block meta %}
  <title>Inschrijven</title>
  <meta name="description" content="Onze praktijk is <strong>drukbezocht</strong> en daarom is inschrijving van nieuwe patiënten beperkt. Indien u woont in de postcode 3061 en u nog geen huisarts heeft in de wijk, dan kunt u zich inschrijven.">
{% endblock %}
{% block id %}registration{% endblock %}
{% block english %}/new-patients{% endblock %}
{% block main %}

  <h1>
    <span>Inschrijven</span>
  </h1>
  <p>Onze praktijk is
    <strong>drukbezocht</strong>
    en daarom is inschrijving van nieuwe patiënten beperkt.</p>
  <p>Indien u woont in de postcodes <strong>3061</strong>, <strong>3062</strong> of <strong>3063</strong>
    en u nog geen huisarts heeft in de wijk, dan kunt u zich inschrijven.</p>

    <h2>Optie 1 – online</h2>
    <p>Vul het onderstaande formulier in:</p>
    <div id="registration-form" class="form idle">
      <fieldset>
        <label for="first-name">Voornaam</label>
        <input id="first-name" type="text" />
      </fieldset>

      <fieldset>
       <label for="last-name">Achternaam</label>
        <input id="last-name" type="text" />
      </fieldset>

      <fieldset>
        <label for="gender">Geslacht</label>
        <input id="gender" type="text" />
      </fieldset>

      <fieldset>
        <label for="dob">Geboortedatum</label>
        <input id="dob" type="date" placeholder="dd/mm/yyyy"/>
      </fieldset>

      <fieldset>
        <label for="address">Adres</label>
        <textarea id="address" rows="4" cols="50"></textarea>
      </fieldset>

      <fieldset>
        <label for="email">E-mail</label>
        <input id="email" type="email"/>
      </fieldset>

      <fieldset>
        <label for="phone" >Telefoon</label>
        <input id="phone" type="text"/>
      </fieldset>

      <fieldset>
        <label for="bsn" >BSN-nummer</label>
        <input id="bsn" type="text"/>
      </fieldset>

      <div class="agreement">
        <button class="checkbox checked" id="agreement-1">
          <span class="icon"></span>
          <span>Ik ga akkoord met inschrijving bij Dr Poelstra en geef tevens toestemming om mijn dossier op te vragen bij mijn vorige zorgverlener.</span>
        </button>

        <button class="checkbox checked" id="agreement-2">
          <span class="icon"></span>
          <span>Ik ga akkoord dat Dr Poelstra mijn gegevens verwerkt die benodigd zijn voor inschrijving.</span>
        </button>
      </div>

      <div class="footer">
        <button class="green-button">Verstuur</button>
        <p class="sending">Verzenden...</p>
        <p class="success">Je registratie is verzonden en goed ontvangen. Wij nemen spoedig contact met U op.</p>
        <p class="fail">Sorry, je registratie was niet verzonden. Gelieve de instructies onder optie 2 te volgen.</p>
      </div>
    </div>

    <h2>Optie 2 – papier</h2>

    <p>U kunt persoonlijk langskomen op maandag t/m vrijdag tussen 08.00 en 10.00 uur of tussen 13.30 en 15.00 uur. U kunt het volgende formulier downloaden en ingevuld persoonlijk aan de balie bezorgen. U dient uw verzekeringspasje en id bewijs mee te nemen:</p>

    <p><a href="/assets/documents/2019-10-18-inschrijvingsformulier.pdf" target="_blank">Inschrijfformulier.pdf</a></p>
  <p>Via de onderstaande link kunt u online toestemming geven uw medische gegevens te delen via het Landelijk Schakel Punt. Andere zorgverleners in de regio, zoals de apotheek en de huisartsenpost , kunnen bv bij een spoedgeval dan uw medisch dossier inzien.</p>
  <p>
    <a href="https://www.ikgeeftoestemming.nl/nl/registratie/toestemming-regelen/01050727" target="_blank">https://www.ikgeeftoestemming.nl/nl/registratie/toestemming-regelen/01050727</a>
  </p>

{% endblock %}
